/* font-family: "Roboto", serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
:root {
  --white: #ffffff;
  --green: #00AD8B;
}
p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit !important;
}
img,iframe {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;      
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0;
}
::selection {
  color: var(--white);
  background: #71EAD2;
}
/* Header Css Start */

/* top header css start */
.top-header{
  background-color: var(--green);
}
/* top header css end */

/* bottom header css start */
.menu ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: all 0.5s ease-in;
}
.menu ul li a:hover::before {
  transform: scaleX(1);
}
.menu ul li a:hover {
  color: var(--green) !important;
} 
.menu ul li a {
  color:#0B0B0B80 !important;
}
.menu a.active {
  color: var(--green) !important;
  font-weight: bold;
}
.icon{
  top: -4px;
  font-size: 12px;
  background:var(--green);
  width: 18px;
  height: 18px;
  right: -8px;
}
i.heart {
  border-right: solid 2px var(--green);
}
.shopping p {
  font-size: 10px;
  color:#0B0B0B80 !important;
}
.shopping h6{
  font-size: 15px;
}
.shopping a{
  transition: all 0.5s ease-in-out;
}
.shopping a:hover{
  color: #0B0B0B80 !important;
}
.bag i{
  transition: all 0.5s ease;
}
.bag span{
  transition: all 0.5s ease;
}
.bag:hover  span{
  color: var(--white);
  background-color: rgba(130, 238, 217, 0.90);
}
.bag a i:hover{
  color: var(--green);
}
.heart a i{
  transition: all 0.5s ease;
}
.heart a i:hover{
  color: var(--green);
}
/* bottom header css end */

/* banner section css start */
.color-box{
  background: linear-gradient(to right, 
  #DBFCF6, 
  rgba(188, 243, 232, 0.85), 
  rgba(130, 238, 217, 0.90)
);
border-radius:20px;
}
.banner-img {
  right: 0;
  top: 0;
}
.banner-content h2{
  font-size: 55px;
}
.sale h6 span{
  background-color: var(--green);
}
.shop{
  border-right: solid 3px white;
}
.shop a,
.banner-content h2 span,
.frequently span,
.gallary h3 span{
  color: var(--green) !important;
}
.slick-prev,
.slick-next{
  display: none !important;
}
.slick-dots{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.slick-dots button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:solid 1px  var(--green);
  background-color: transparent;
  color: transparent;
}
.slick-dots .slick-active{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--green);
}
.shop a::before {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: var(--green);
  transition: all 0.5s ease;
  border-radius: 20px;
  z-index: -1;
}
.shop a:hover::before {
  left: 0;
}
.shop a {
  background-color: var(--white);
  z-index: 1;
}
.shop a:hover {
  color: var(--white) !important;
}
.shop a{
  color: var(--green) !important  ;
}
/* banner section css end */
/* section 1 css start  */
.free-icon i{
  color: var(--green);
  background-color: #EDF2EE;
}
.free-shipping p{
  color: #A5A5A5;
}
/* section 1 css end */
/* section 2 css start */
.layer-b {
   position: absolute;
  top:10%;
  left: -4%;
  border-radius: 40px;
  height: 95%;
  width: 100%;
  background: linear-gradient(to right, #D1F4ED, #B1F1E4, #71EAD2);
  z-index: -1;
}
.perfect li i,
.perfect-side li i{
  width: 25px;
  height: 25px;
  background-color: var(--green);
}
.perfect a,
.perfect-side a{
  color: var(--green) !important;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid var(--green);
}
/* section 2 css end */

/* section 4 css start */
.layer-b-2{
   position: absolute;
  top:10%;
  right: 13%;
  border-radius: 40px;
  height: 95%;
  width: 60%;
  background: linear-gradient(to right, #D1F4ED, #B1F1E4, #71EAD2);
  z-index: -1; 
}

.perfect-button a::before {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: var(--green);
  transition: all 0.5s ease;
  border-radius: 20px;
  z-index: -1;
}
.perfect-button a:hover::before {
  left: 0;
}
.perfect-button a {
  border: solid 1px var(--green);
  background-color: var(--white);
  z-index: 999;
}
.perfect-button a:hover {
  color: var(--white) !important;
}
.perfect-button a{
  color: var(--green) !important  ;
}

.perfect-side p{
  font-size: 22px;
}
.perfect-side li i{
  width: 35px;
  height: 35px;
}
.perfect-side-img img{
  width: 65%;
}
/* section 4 css end */
/* section 6 css start */
.image-1 img{
  background-color: var(--green);
}
.image-4 img{
  background-color: #E5B301;
}

.slide-image{
  z-index: 2 ;
}

.background-color-layer {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 40px;
  height: 50%;
  width: 100%;
  background: linear-gradient(to right, #D1F4ED, #B1F1E4, #71EAD2);
  z-index: 0;
}

.slide-image img {
  position: relative;
  z-index: 1;
}

.frequently p,
.gallary p{
  color: #545454;
}

.accordion-body {
  background-color:transparent;
}
.accordion-body strong {
  color: #343434;
  font-size: 17px;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
}
.accordion-button:focus {
  z-index: 3;
  box-shadow: none;
}
.accordion-button {
  color: black;
  background-color: transparent;
}
.accordion-button:not(.collapsed)::after {
    filter: brightness(200%) saturate(100%) invert(88%) sepia(90%) saturate(580%) hue-rotate(10deg) brightness(105%) contrast(105%) !important;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) saturate(100%) invert(88%) sepia(90%) saturate(580%) hue-rotate(10deg) brightness(105%) contrast(105%);
}
.accordion-button::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--green);
  margin-right: 12px;
  vertical-align: middle;
}

.accordion-button:not(.collapsed)::before {
  background-color: #FFC328;
}

/* section 6 css end */
/* section 7 css start */

.reads h3 span{
  color: var(--green);
} 
.read-box{
  border-radius: 10px;
}
.box-content p{
  color:#545454;
  font-size: 13px;
}
.box-content span{
  color:#545454;
  font-size: 10px;
}
.box-content a{
  font-size: 13px;
  transition: all 0.5s ease;
  color: var(--green) !important;
}
.box-content a:hover{
  color: #545454 !important; 
}
/* section 7 css end */

/* Section 8 css start */

.section-8,
.section-9{
  background-color:#E5E5E5;
}
.supporting {
  transform: translateX(-25%);
  width: 600px;
  top:-47px;
}

.supporting img,
.your-pillow img{
  width: 100%;
  height: 586px;
}
.perfect span{
  color: var(--green);
}

ul.feature-list li{
 width: 48% ;
}
.comfortable p{
  font-size: 14px;
  color: #808080;
}
.comfortable h6{
   font-size: 17px;
}
h6.for{
   font-size: 15px;
}
/* section 8 css end */

/* section 9 css start */

.your-pillow {
  transform: translateX(13%);
  width: 100%;
  top:-47px;
}
.your-pillow img{
  height: 586px;
}
.your {
  width: 70%;
}
/* section 9 css end */

.client-heading h3 span{
  color: var(--green);
}
.client-heading p{
  width: 65%;
}
.section-10{
  background-color: #E1FFEF38;
}
.client-box p{
  font-size: 14px;
}
.client-image img{
  width: 45px;
  height: 45px;
}
.robert h6{
  font-size:14px;
}
.robert p,
.subcribe p{
  color:#999999;
}
.client-star i{
  color:#FF8A00;
  font-size:13px;
}
.slider .slick-prev,
.slider .slick-next{
  display: none !important;
}
.slider .slick-dots{
  display: flex;
  margin-top: 30px !important;
  gap: 10px;
  justify-content: center;
}
.slider .slick-dots .slick-active{
  border-radius: 10px !important;
  width: 50px !important;
  height: 10px !important;
   background-color: #03765F !important;
  border-color: #03765F !important;
}

.slider .slick-dots li button {
  width: 50px !important;
  height: 10px !important;
  border-radius: 10px !important;
  border: solid 1px #C4C4C4 !important;
  background-color: #C4C4C4 !important;
  color: transparent !important;
}

.slider .slick-dots li.slick-active button {
  background-color: #03765F !important;
  border-color: #03765F !important;
}
/*section 9  */

.section-11{
  background: linear-gradient(45deg, #00AD8B, #00C39D);
}
.sleep-better h2 {
  font-size: 50px;
}
.section-11::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/only-vox-image-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
}
.section-11::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-image: url('../images/only-vox-image-2.png');
  background-size:100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
/* section 12 css start */

.pillow-img-3 img{
  width: 100%;
  height: 400px;
}
.pillow-img-4 img{
  width: 100%;
  height: 400px;
}
.pillow-img-6 img{
  width: 100%;
  height: 226px;
}
.pillow-img-7 img{
  width: 100%;
  height: 400px;
}
.pillow-img-8 img{
  width: 100%;
  height: 400px;
}

/* section 12 css end */
/* section 13 css start */

.section-13{
  background:#F7F7F7;
}
.subcribe input {
  width: 65%;
  outline: none;
  border: solid 2px #E6E6E6;
}
.subcribe a{
  background:var(--green);
  left: 50%;
  margin-top:1.5px;
}
/* section 13 css end */
.sub-icons i:hover{
  background:var(--green);
  align-items:center;
  justify-content:center;
  padding: 10px 14px;
  border-radius: 50%;
}
.sub-icons i{
  transition: all 0.5s ease;
}
/* footer css start  */

.footer {
  background: var(--green);
}

.line{
  background: #71EAD2;
  height: 2px;
  width: 44px;

}
.footer-menu ul li a::before{
  content: "";
  position: absolute;
  left: -100%;
  width: 40%;
  bottom: 0;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease;
}

.footer-menu ul li a:hover::before {
  left: 0;
}
.footer-menu ul li a:hover{
  color:#71EAD2 !important;
}
/* footer css end  */

.box-main{
  border: solid 1px var(--green);
  border-radius: 25px;
}
.stock a{
  background: #20B52633;
}
.star i{
  color: #FFC700;
}
.light-icon{
  color:#CCCCCC !important;
}
.pillow-T i{
  color: var(--green);
}
.pillow-T li{
  color:#545454;
}
.from p{
  text-decoration:line-through;
  color:#C80E0E;
}
.from span,
.now span{
  font-size: 12px;
}
.now p{
  text-decoration:line-through;
  color: var(--green);
}
.off p{
  font-size: 10px;
  background:#EA4B481A;
}
.box-main{
  background:rgb(225, 253, 248);
}
.zoom p{
  font-size:15px;
}
.zoom {
  border:solid 1px var(--green);
}
.view i{
  background:#6BE4CC;
}
.view{
  background:var(--green);
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
}
.section-3::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-image: url(../images/image-t-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.section-3{
  background:#EBFFF84D;
}
.section-3::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 15%;
  height: 50%;
  background-image: url('../images/imag-t-1.png');
  background-size:100% 100%;
  background-repeat: no-repeat;
}
.m-icon i{
  background-color:#C9C9C9;
  width: 30px;
  height: 30px;
  font-size:12px;
}
.m-icon i:hover{
  background:var(--green);
}
.s-icon i,
.heart-icon i,
.eye-icon i{
  background-color:var(--green);
  width: 30px;
  height: 30px;
  font-size:12px;
  transition: all 0.5s ease-in;
}
.icon-main-box{
  top: 5%;
  left: 5%;
}
.heart-icon i:hover,
.s-icon i:hover,
.eye-icon i:hover {
  background-color:#C9C9C9;
}
/* ABOUT US CSS START */

.about-us,
.prouduct{
  border-radius: 20px;
  background: linear-gradient(to right, #D1F4ED, #B1F1E4, #71EAD2);
}
/* ABOUT US CSS END */

/* prouduct OUT CSS START */
.prouduct h2,
.about-us h2{
  font-size: 80px;
}
.check p{
  color:var(--green);
}
.thankyou p{
  color: #B9B9B9;
}
.prouduct ul li p{
  font-size: 12px ;
}
.prouduct ul li {
  font-size: 12px ;
}
.images-slide img{
  width: 90px;
  height: 115px;
} 
.slide-image img{
  height:547px;
}
.images-slide i{
  padding:0px 30px 0px 30px;
}
.heading a{
  background: #20B52633;
  color:#2C742F !important;
}
.heading h3{
  font-size: 50px;
}
.stars i{
  color:rgba(246, 194, 6, 0.97);
  font-size: 14px;
}
.review p{
  font-size: 14px;
  color: #666666;
}
.sku p{
  font-size: 14px;
}

.sku p span{
  color: #666666 !important;
}
.discount h3 span{
  color: #0B0B0B80;
}
.discount h3{
  color: #2C742F;
}
.discount a{
  background:#EA4B481A;
  color:#EA4B48 !important;
}
.share i{
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  color:#666666;
  padding:  10px 14px 10px 14px ;
}
.share i:hover{
  color: var(--white);
  background-color:var(--green);
}
i.instagram{
 padding:  10px 12px 10px 12px !important;
}
i.twitter {
 padding:  10px 10px 10px 10px !important;
}
.quest p{
  color: #0B0B0B80;
}
.add {
  border: solid 1px #E6E6E6;
}
.add i{
  background: #E6E6E6;
}
.add-cart a{
  background: var(--green);
}
.select-heart i{
  background:#BCF3E8D9;
}
.category p{
  font-size:14px;
}
.category p span {
  color: #808080;
}
.work-btns hr{
  height: 1.5px;
}
.tabs-content p{
  color: #808080;
  font-size: 14px;
}
.tabs-content ul li i{
  background: var(--green);
}
.video-img img{
  height: 300px;
  border-radius: 10px;
}
.video-icon i{
  width: 40px;
  height: 40px;
  background-color: var(--green);
}
.video-icon {
  z-index: 99;
  top: 35%;
}
.save,
.prouduct-main,
.coupon-main,
.cart-total-main,
.order-main,
.wish-main{
  border: solid 1px #E6E6E6;
  border-radius: 10px;
}
.save-content p{
  font-size: 13px;
  color: #808080;  
}
.save-content h6{
  font-size: 14px;
}
.save-icon i{
  color: var(--green);
}

/* prouduct css end  */

/* cart css start  */

.shopping-cart-section {
  background: #E1FFEF38;
}
.cart-img img,
.wish-list-img img{
  width: 90px;
  height: 90px;
}
.cart-price p,
.wish-list-prouduct-price-1 span
.wish-list-prouduct-price p{
  color: #808080;
}
.cancel i{
  border: solid 1px #808080;
  color: #808080;
  padding: 6px 7px;
}
.add-value i{
  padding: 6px 7px;
  color: #808080;
} 
.add-value{
  width: 87%;
}
.border-line {
  border: solid 1.5px #E6E6E6;
}
.return a,
.update a{
  background: #E6E6E6;
  color: #808080 !important;
}
.prouduct-value p{
  font-size: 13px;
  color: #808080;
}
.Coupon input {
  width: 95%;
  outline: none;
  border: solid 2px #E6E6E6;
}
.Coupon a{
  background: #232726dd ;
  left: 78%;
  top: 0;
  margin-top:1.5px;
  width: 35%; 
}
.subtotal p{
  color: #808080 !important;
}
.proced-button a{
  transition: all 0.05s ease;
  background: var(--green);
}

/* cart css end  */

/* ceck out css start */

.input-form {
  background: #E1FFEF38;
}
.form-main label{
  font-size: 14px;
}
.form-main input,
.form-main select,
.form-main  textarea{
  border: solid 2px #999999;
  outline: none;
}
.form-main select{
  color: #999999;
}
.form-group input {
  width: 90%;
}
.form-group-2 input {
  width: 65%;
}
.address input,
.form-line{
  width: 86%;
}
.order-main img{
  height: 60px ;
  width: 60px ;
}
.order-radio input {
  width: 20px;
  height: 20px;
}
.order-radio label{
  color: #808080;
}
/* ceck out css end */


/* thankyou section css start */

.img-content img {
  width: 120px;
}
.main-recvied {
  border: solid 2px #E6E6E6;
  border-radius: 20px;
}
.thankyou-content{
  border-radius: 10px;
  background:#F4F4F4;
}
.thank-price h6{
  font-size: 12px;
}
.color {
  color: var(--green);
}
/* thankyou section css end */

/* wish list section css start */

.wish-list-prouduct p,
.wish-list-price p,
.wish-list-stock p,
.wish-list-add-cart p,
.wish-list-prouduct{
  font-size: 14px;
  color: #808080;
}
.stock-button a,
.add-button a{
  background: var(--green);
}
.add-button a{
  padding: 10px 40px;
  font-size: 14px;
}
.wish-list-prouduct {
  text-align: left;
}
.wish-list-prouduct h6{
  font-size: 18px;    
}
.share h5{
  color: #808080;
}
.privacy-content p{
  font-size: 22px;
  letter-spacing: 0.2px;
}
.privacy-content ul{
  list-style: decimal;
}

.privacy-content ul li p,
.privacy-content ul li p span{
  font-size: 24px;
}

.circle {
  list-style: disc !important;
}